*{ 
    margin: 0;
    padding:0;
font-family:Jost;    

    
    
}
@font-face {
    font-family: "Jost";
    src: url(Jost-Regular.tt)
}


.Susan{
    border-radius: 300px 300px 300px 300px; 
}

.backgraund{ 

    background-color: #ff7f99;

}



